<div>
    <strong> Filters </strong>
    <p>You Can select only one fillter</p>
    <hr>
    <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="selectedValue.type">
                    <mat-option *ngFor="let t of types" [value]="t">{{t}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Brand</mat-label>
                <mat-select [(ngModel)]="selectedValue.brand">
                    <mat-option *ngFor="let b of brands" [value]="b">{{b}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Model</mat-label>
                <mat-select [(ngModel)]="selectedValue.model">
                    <mat-option *ngFor="let m of models" [value]="m">{{m}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input [(ngModel)]="selectedValue.publishDate" (dateChange)="dateChanged($event)" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>From</mat-label>
                <mat-select [(ngModel)]="selectedValue.dateRange.from">
                    <mat-option *ngFor="let y of years" [value]="y">{{y}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>    
            <mat-form-field appearance="fill">
                 <mat-label>To</mat-label>
                 <mat-select [(ngModel)]="selectedValue.dateRange.to">
                    <mat-option *ngFor="let y of years" [value]="y">{{y}}</mat-option>
                </mat-select>
                </mat-form-field>
                    <br>
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input [(ngModel)]="selectedValue.price" type="number" matInput>
            </mat-form-field>
            <br>
            <div class="toolbar">
                <button mat-raised-button (click)="apllyFilter('apply')" color="primary" >Apply</button>
                <button mat-raised-button mat-dialog-close (click)="apllyFilter('cancel')" color="warn" >Cancel</button>
            </div>
    </div>
</div>